*{
    font-family: Roboto;

}
#nav{
    background-color:#1a0d00;
}
#back{
    background: #f2f2f2;    ;
}
#navbarSite{
    padding-left: 555px;
}
form{
    text-align: center;
    height: 100px;
}
legend{
    text-align: center;
}
.box{
    text-align: center;
    padding-top: 101px;
    padding-left: 120px;
    background-color: salmon;
    border: darksalmon;
}